<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"> Treebook </a>
      <ul class="nav navbar-nav">
        <li> <%= link_to "All Statuses", feed_path %> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.full_name %><span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Logout", logout_path %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Sign up", registration_path%></li>
        <li><%= link_to "Login", login_path%></li>
        <% end %>
      </ul>
  </div>

</nav>

<div class="container-fluid">
  <% flash.each do |type, message| %>
  <div class="alert <%= flash_class type %>" role="alert">
  <%= message %>
  </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
